#sidebar li {
  list-style-type: none;
  padding-top: 10px;
  color: rgba(255,255,255,0.22);
  border-bottom-style: solid;
  padding: 10px 10px 10px 0px;
}

#sidebar {
  position: fixed;
  right: -500px;
  background: #084127;
  width: 35vh;
  /*text-align: center;*/
  z-index: 10000;
  font-size: 14pt;
  font-family: 'Ubuntu';
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  padding-top: 0px !important;
}

#sidebar.active {
  right: 0px;
  height: 100%;
}

#sidebar ul {
  padding-top: 20%;
}

a {
  text-decoration: none;
}

a:link {
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

#sidebar a {
  color: white;
}

.here {
  font-size: 18pt;
}

.social-links {
  letter-spacing: 15px;
  padding-top: 15%;
  color: white;
}

.contact-info {
  padding-top: 20%;
  color: #c4d8e2 !important;
}

#page-down {
  font-size: 20pt;
  position: fixed;
  margin: 30px;
  height: 64px;
  width: 64px;
  text-align: center;
  border-style: solid;
  line-height: 64px;
  transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  right: 10px;
  bottom: 0;
}

#nav-toggle {
  font-size: 20pt;
  position: fixed;
  margin: 30px;
  height: 64px;
  width: 64px;
  text-align: center;
  line-height: 60px;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  right: 10px;
  border-color: #084127;
  border-width: 1.5px;
  border-style: solid;
  color: #084127;
  z-index: 99999999;
}

#nav-toggle.active {
  right: 225px;
  transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -o-transform: scale(1.05) rotateZ(180deg);
  border-color: #119258;
  color: #119258;
}

#nav-toggle:hover {
  border-color: #11ae67;
  color: #11ae67;
}

