a {
  color: white;
}

#sidebar li {
  list-style-type: none;
  padding-top: 10px;
  color: rgba(255,255,255,0.22);
  border-bottom-style: solid;
  padding: 10px 10px 10px 0px;
}

#sidebar {
  background: #3a3a3a;
  padding-top: 2rem !important;

}

@media (min-width:768px) {
  #sidebar {
    position: fixed;
    right: -500px;    
    width: 35vh;
    /*text-align: center;*/
    z-index: 10000;
    font-size: 14pt;
    font-family: 'Ubuntu';
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    
  }
  #sidebar.active {
    right: 0px;
    height: 100%;
  }
}

@media (max-width:767px){
  #sidebar {
    right: 0px;
    height: 100%;
  }
  #sidebar.active {
    position: fixed;
    right: -500px;
    width: 40vh;
    /*text-align: center;*/
    z-index: 10000;
    font-size: 14pt;
    font-family: 'Ubuntu';
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    
  }
}



#sidebar ul {
  padding-top: 0%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

#sidebar a {
  color: white;
}

.here {
  font-size: 18pt;
}

.social-links {
  letter-spacing: 15px;
  padding-top: 15%;
  color: white;
}

.contact-info {
  padding-top: 20%;
  color: #c4d8e2 !important;
}



@media (min-width:768px) {
  #nav-toggle {
    visibility: hidden;
  }
}

@media (max-width:767px) {
  #nav-toggle {
    visibility: visible;
  }
}

#nav-toggle {
  font-size: 20pt;
  /*position: fixed;*/
  margin: 30px;
  right: 0px;
  height: 64px;
  width: 64px;
  text-align: center;
  line-height: 60px;
  /*right: 10px;*/
  border-color: #3c3c3c;
  border-width: 1.5px;
  border-style: solid;
  color: #3a3a3a;
  z-index: 99999999;
  
}

#nav-toggle.active {
  right: 40vh;
  border-color: #6a6a6a;
  color: #6a6a6a;
}

#nav-toggle:hover {
  border-color: #6a6a6a;
  color: #5e5e5e;
}